@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');

*{
    font-family: 'Saira Condensed', sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

section {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 15vh;
    background-color: #464646;
    border-bottom: 3px solid #DE0209;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 4%;
    align-items: center;
}

.logo {
    width: 220px;
}

.links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    align-items: center;
}

.marginMaior {
    margin-right: 7%;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

a {
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-decoration: none;

}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

li span {
    margin-left: 50%;
}

.corpo {
    background-image: url(../imgs/torcida_fundo.png);
    background-size: 100%;
    width: 100%;
    height: 84vh;
    background-repeat: no-repeat;
    display: flex;
    border-bottom: 1vh solid #DE0209;
}

.textoCorpo {
    margin-top: 10%;
    margin-left: 15%;    
    color: white;
    font-size: 50px;
}

.textoCorpo button {
    width: 38%;
    height: 14%;
    border: 1px #DE0209 solid;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.campo {
    display: flex;
    align-items: center;
}

.campo img {
    width: 350px;
}

.corpoHistoria {
    margin: 0;
    background-image: url(../imgs/fundoHistoria.png);
    background-size: 100%;
    width: 100%;
    height: 99.5vh;
    background-repeat: no-repeat;
    display: flex;
    border-bottom: 0.5vh solid #DE0209;
}

.tituloHistoria {
    margin-top: 1%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
}

.tituloHistoria img {
    width: 230px;
    margin-left: 6%;
}

.tituloHistoria label {
    font-size: 23px;
    color: white;
    width: 95%;
}

.corpoSobreMim {
    margin: 0;
    background-image: url(../imgs/fundoSobreMim.png);
    background-size: 100%;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.sentimento {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.sentimento img {
    width: 85%;
}

.tituloSobreMim {
    margin-top: 2;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
}

.tituloSobreMim img {
    width: 320px;
    margin-left: 6%;
}

.tituloSobreMim label {
    font-size: 23px;
    color: white;
    width: 85%;
}

.vermelho {
    color: #DE0209;
    font-weight: bold;
}

.preto {
    color: black;
    font-weight: bold;
}

.branco {
    color: white;
    font-weight: bold;
}

p {
    text-indent: 5%;
    margin: 0;
}

